[submodule "frameworks/halloc/repository"]
	path = frameworks/halloc/repository
	url = https://github.com/canonizer/halloc.git
[submodule "frameworks/ouroboros/repository"]
	path = frameworks/ouroboros/repository
	url = https://github.com/GPUPeople/Ouroboros.git
[submodule "frameworks/scatteralloc/repository"]
	path = frameworks/scatteralloc/repository
	url = https://github.com/ax3l/scatteralloc.git
[submodule "externals/cub"]
	path = externals/cub
	url = https://github.com/NVlabs/cub.git
[submodule "frameworks/beta/betta"]
	path = frameworks/beta/betta
	url = https://github.com/saltsystemslab/betta
[submodule "frameworks/gallatin/gallatin"]
	path = frameworks/gallatin/gallatin
	url = https://github.com/saltsystemslab/gallatin
[submodule "frameworks/mallocMC/mallocMC"]
	path = frameworks/mallocMC/mallocMC
	url = https://github.com/alpaka-group/mallocMC
